//Main Theme colors
$main_bg_color: #ffffff;
$secondary_bg_color: #333333;
$primary_accent_color: #4A5568;
$secondary_accent_color: #A0AEC0;

//Main Font styles

$primary_text_color: #333333;
$secondary_text_color: #ffffff;
$error_text_color: #9b9c9d;
$common_font_family: 'Arial', sans-serif;