//Main Theme colors
$main_bg_color: #ffffff;
$secondary_bg_color: #333333;
$primary_accent_color: #4A5568;
$secondary_accent_color: #A0AEC0;

//Main Font styles

$primary_text_color: #333333;
$secondary_text_color: #ffffff;
$error_text_color: #9b9c9d;
$common_font_family: 'Arial', sans-serif;

//Main colors 2

$grey-light: #F6F7F8;
$white: #FFFFFF;
$half-white: #C8CCD414;
$white-secondary: #C8CCD41A;
$blue-dark: #072635;
$grey-secondary: #E3E4E6;
$pink-light: #FFE6F1;
$sky-blue: #E0F3FA;
$peach: #FFE6E9;
$black: #000000;
$blue-secondary: #F4F0FE;
$grey-territory: #CBC8D4;
$purple: #7E6CAB;
$purple-secondary: #8C6FE6;
$cyan: #C26EB4;
$purple-tertiary: #E66FD2;
$green-light: #01F0D0;
$blue-tertiary: #D8FCF7;
$white-tertiary: #EDEDED;
$black-secondary: #707070;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-extra-bold: 800;
$font-small: 13px;
$font-regular: 14px;
$font-medium: 16px;
$font-semi-large: 18px;
$font-large: 22px;
$font-extra-large: 24px;
$font-largest: 30px;
$font-style: Manrope, sans-serif;